/* ==========================================================================
   #POMODORO APP STYLES
   ========================================================================== */

/**
 *
 * Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

  :root {
    --pomodoro-image: url('assets/Clouds\ Horizontal.png');
    --shortBreak-image: url('assets/sus.jpg');
    --longBreak-image: url('assets/night.jpg');
  }


  body {
    background-image: var(--pomodoro-image);
    background-size: cover; /* Adjust as needed */
    background-position: initial; /* Adjust as needed */
    background-repeat: no-repeat;
    font-family: "Press Start 2P";
    user-select: none;
  }
  body.short-break {
    background-image: var(--shortBreak-image);
    background-size: cover; /* Adjust as needed */
    background-position: initial; /* Adjust as needed */
    background-repeat: no-repeat;
    font-family: "Press Start 2P";
    user-select: none;
  }
  
  body.long-break {
    background-image: var(--longBreak-image);
    background-size: cover; /* Adjust as needed */
    background-position: initial; /* Adjust as needed */
    background-repeat: no-repeat;
    font-family: "Press Start 2P";
    user-select: none;
  }
  
progress {
  border-radius: 2px;
  width: 100%;
  height: 12px;
  position: fixed;
  top: 0;
  color: aqua;
}

progress::-webkit-progress-bar {
 background-color: rgba(0, 0, 0, 0.1);;
}

progress::-webkit-progress-value {
  background-color: #fff;
}

.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  font-family:"Press Start 2P";
}

.clock {
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 12rem;
  font-family:"Press Start 2P";
  color: yellow;
  line-height: 1;
  display: flex;
  align-items: center;
}
.clock-short-break {
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 12rem;
  font-family:"Press Start 2P";
  color: rgb(0, 0, 0);
  line-height: 1;
  display: flex;
  align-items: center;
}
.mode-button {
  font-size: 16px;
  height: 28px;
  cursor: pointer;
  box-shadow: none;
  font-weight: 300;
  color: blue;
  border: 3px solid orange;
  margin: 0px;
  border-radius: 4px;
  padding: 2px 12px;
  background: none;
  font-family:"Press Start 2P";
}

.mode-button.active {
  border-color: #fff;
}

.main-button {
  cursor: pointer;
  box-shadow: rgb(0, 0, 0) 8px 8px 0px;
  font-size: 22px;
  height: 55px;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  width: 200px;
  background-color: rgb(231, 81, 81);
  border-width: initial;
  border-style: none;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 4px;
  transition: color 0.5s ease-in-out 0s;
  font-family:"Press Start 2P";
}

button:focus, button:active {
  outline: none;
}

.main-button.active {
  transform: translateY(6px);
  box-shadow: none;
  outline: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 550px) {
  .clock {
    font-size: 8rem;
  }
}
